.body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    border: 1px solid #58C5C8;
    height: 50%;
    border-radius: 5px;
    width: 50%;
}

.editable{
    width: 100%;
    height: 100%;
}

.btn{
    display: flex;
    justify-content: center;
    
}