.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

@media (768px <= width <= 5000px) {
  .course {
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    float: left;
    width: 20%;
    margin-left: 4%;
    height: auto;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(132, 53, 132, 0.137);
    color: solid black;
    font-weight: bold;
  }
}
@media (576px <= width <=768px) {
  .course {
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    float: left;
    width: 20%;
    margin-left: 4%;
    height: auto;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(132, 53, 132, 0.137);
    color: solid black;
    font-size: smaller;
  }
}
@media (0px <= width <=576px) {
  .course {
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    float: left;
    width: 40%;
    margin-left: 4%;
    height: auto;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(132, 53, 132, 0.137);
    color: solid black;
    font-size: smaller;
  }
}
