/* @import "bootstrap/dist/css/bootstrap.css"; */

@media (max-width: 995px) {
  .bellIcon {
    display: none;
  }
 
  .bell2 {
    margin-top: 0px;
    height: 20px;
    color: rgb(4, 4, 4);
     margin-right: 20px;
     margin-left: 0px;
     padding-left: opx;
  }
  #bellsearch{
    display: flex;
    /* justify-content: center;  */
    /* background-color: aqua; */
    /* width: 50px; */
   }
  #form2{
    background-color: aquamarine;
    display: none;
  }
  .search2 {
    display: flex;
    margin-left: auto;
  }
  .profileImage {
    display: none;
  }

  #container {
    display: flex;
    flex: 2;
  }
}

@media (min-width: 981px) {
  .bell2 {
    display: none;
  }
  #account {
    display: none;
    color: black;
  }
  .bell2 {
    margin-left: auto;
    width: 20px;
    height: 20px;
  }

  #modal{
    display: none;
    /* justify-content: center;  */
    /* background-color: aqua; */
    /* width: 50px; */
   }
}


#Courses {
  color: rgb(46, 44, 44);
  text-transform: uppercase;
  font-weight: 600;
  font-size: smaller;
}
#Courses:hover{
  color: rgb(78, 189, 189);
  padding-left: 10px;
  transition: 0.5s;
  
}
#Courses:hover #them{
  display:block;
  background-color: rgb(225, 52, 9);
  
}


#search {
  border-color: rgb(112, 108, 108);
}

#button {
  background-color: white;
  color: rgb(146, 138, 138);
  border-radius: 5px;
  border-color: rgb(112, 108, 108);
}


.sideNavBar {
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
#NavBar {
  background-color: white;
  position: fixed;
  box-shadow: 0  4px 3px rgba(0, 0, 0, 0.08) ;
  /* opacity: 0; */
  width: 100%;
  top:0;
}
.bellIcon {
  margin: 10px 20px;
  width: 20px;
  height: 20px;
  color: rgb(9, 9, 9);
  
}
.down > .dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.logoImage {
  width: 150px;
}
.headers {
  color: blue;
}
.headers:hover {
  color: red;
  text-decoration-color: blueviolet;
}
#account {
  color: black;
}
#items:hover{
  color: aqua;
  padding-right: 10px;
}
#search3{
width:150%;
/* background-color: aqua; */


}
#form2{
  width: 400px;
  
}