#Courses {
  color: rgb(7, 7, 7);
  text-transform: uppercase;
  font-weight: 600;
  font-size: smaller;
  border: none;
  background-color: white;
  margin-top: 5px;
  padding-right: 5px;
}

#Courses:hover {
  color: rgb(78, 189, 189);
  /* padding-left: 10px;
  transition: 0.5s; */
  
}
#Courses:hover #Dropdown_menu {
  display: block;  
}

#Courses:focus {
  box-shadow: none;
}

#account {
  color: rgb(7, 7, 7);
  text-transform: uppercase;
  font-weight: 600;
  font-size: smaller;
  border: none;
  background-color: white;
  margin-top: 5px;
  padding-right: 5px;
  padding-left: 0px;
}

#account:hover {
  color: rgb(78, 189, 189);
  /* padding-left: 10px;
  transition: 0.5s; */
  
}
#account:hover #Dropdown_menu {
  display: block;  
}

#account:focus {
  box-shadow: none;
}
#Courses2 {
  text-decoration: none;
  color: rgb(7, 7, 7);
  text-transform: uppercase;
  font-weight: 600;
  font-size: smaller;
  border: none;
  background-color: white;
  margin-top: 3px;
  /* padding-right: 5px; */
}
#Courses3 {
  text-decoration: none;
  color: rgb(7, 7, 7);
  text-transform: uppercase;
  font-weight: 600;
  font-size: smaller;
  border: none;
  background-color: white;
  margin-top: 10px;
  /* padding-right: 5px; */
}

#Courses2:hover {
  color: rgb(78, 189, 189);
  /* padding-left: 10px;
  transition: 0.5s; */
  
}

#search {
  border-color: rgb(112, 108, 108);
}

#button {
  background-color: white;
  color: rgb(146, 138, 138);
  border-radius: 5px;
  border-color: rgb(112, 108, 108);
}

.sideNavBar {
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
}
#NavBar {
  background-color: white;
  position: fixed;
  box-shadow: 0 3px 8px rgba(83, 44, 86, 0.264);
  /* opacity: 0; */
  width: 100%;
  top: 0;
  z-index: 1000; /* You can adjust this value as needed */
}
#bellIcon {
  margin: 10px 20px;
  width: 20px;
  height: 20px;
  color: rgb(9, 9, 9);
  cursor: pointer;
}
#bellIcon:hover{
 
  cursor: pointer;
}

.logoImage {
  width: 150px;
}
.headers {
  color: blue;
}
.headers:hover {
  color: red;
  text-decoration-color: blueviolet;
}
#account {
  color: rgb(7, 7, 7);
  text-transform: uppercase;
  font-weight: 600;
  font-size: smaller;
  border: none;
  background-color: white;
  margin-top: 3px;
}
#items:hover {
  color: aqua;
  padding-right: 10px;
}
#search3 {
  width: 150%;
  /* background-color: aqua; */
  border-color: rgba(92, 38, 92, 0.259);
}
#search3:focus {
  box-shadow: none;
}
#form2 {
  width: 600px;
  padding-left: 15px;
}
#form3 {
  border-color: rgba(63, 29, 63, 0.437);
  
}
#form3:focus {
  box-shadow: none;
}

#toggle {
  border: none;
  border: white;
}
#toggle:focus{
  box-shadow: none;
}

#toggle:hover {
  color: white;
}
#dropdown {
  background-color: white;
  border: none;
  color: rgb(46, 44, 44);
  text-transform: uppercase;
  font-weight: 600;
  font-size: smaller;
}
#Dropdown_menu{
  border: none;
  box-shadow: -10px 20px 20px rgba(64, 101, 119, 0.3);
  margin-top: 5px;
  text-align: center;
  margin-left: -20px;
}
#Dropdown_menu:focus{
  
  transition: 1s;
}

#Dropdown_Item{
  
}
#Dropdown_Item:hover{
  padding-left: 10px;
  color: rgb(78, 189, 189);
  transition: 0.5s;
}

#Nav_Link{
  padding-top: 10px;
  color: black;
  width: 100%;
   padding-left: 0px;
   padding-right: 0px;
}
#Nav_Link:hover{
  background-color: rgba(57, 53, 53, 0.051);
     color: rgb(78, 189, 189);
     transition: 0.5s;
     padding-left: 2px;
}

 
/* media */

@media (min-width: 981px) {
  .bell2 {
    display: none;
   
  }
  #account {
    display: none;
    color: black;
  }
  .bell2 {
    margin-left: auto;
    width: 20px;
    height: 20px;
    
  }

  #modal {
    display: none;
  }
  #NavBar_Offcanvas:focus{
    display: none;
  }

}

@media (max-width: 995px) {
  #bellIcon {
    display: none;
  }

  .bell2 {
    margin-top: 0px;
    height: 20px;
    color: rgb(4, 4, 4);
    margin-right: 20px;
    margin-left: 0px;
    padding-left: opx;
    cursor: pointer;
  }
  #bellsearch {
    display: flex;
  }
  #form2 {
    background-color: aquamarine;
    display: none;
  }
  .search2 {
    display: flex;
    margin-left: auto;
  }
  .profileImage {
    display: none;
  }

  #container {
    display: flex;
    flex: 2;
  }
  #Courses{
    padding-left: 0px;
  }
  #Dropdown_menu{
    text-align: start;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0.064);
    box-shadow: none;
    border-radius: none;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

  }
  #Dropdown_Item:hover{
    /* padding:inherit; */
    color: rgb(78, 189, 189);
    transition: none;
  }

  #Overlaytrigger{
    display: none;
  }
  .overlay{
   display: none;
  }


}

@media (990px <= width <=1044px) {
  #form2 {
    width: 350px;
  }
}
@media (1044px <= width <=1256px) {
  #form2 {
    width: 410px;
  }
}
