.Profile {
  display: none; /* Initially hidden */
  overflow: hidden; /* Hide any overflowing content */
  position: relative; /* Allows for child elements to be positioned within the container */
  flex-direction: column; /* Arrange child elements in a vertical stack */
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
  border-radius: 1.5rem; /* Rounded corners */
  width: 75%; /* Take up 75% of the available width */
  height: 24rem; /* Set the height to 24rem */
  color: #ffffff; /* Set the text color to white */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Subtle drop shadow */
    background-color: whitesmoke;
}

@media (min-width: 1024px) {
  .Profile {
    display: flex; /* Show the container on larger screens */
  }
}
.img {
  object-fit: cover;
  position: absolute;
  top: 3.5rem;
  border-radius: 0.5rem;
  width: 5rem;
  height: 5rem;
}
.spanOne {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}
.spanTwo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nameHeader {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: black;
  text-transform: capitalize;
}
.emailHeader {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #6b7280;
}

.description {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
  width: 100%;
  height: 20%;
  text-align: center;
  color: #4c5057;
  text-transform: capitalize;
}
.button {
  border-radius: 0.75rem;
  width: 80%;
  font-weight: 600;
  padding: .6rem;
  text-align: center;
  background-color: black;
}
