.singlePost {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 1.5rem;
     width: 100%;
     padding-top: 0.5rem;
     padding-bottom: 0.5rem;
     margin-top: 0.75rem;
     margin-bottom: 0.75rem;
     background-color: whitesmoke;
   }
   
   @media (min-width: 1024px) {
     .singlePost {
       padding-left: 1rem;
       padding-right: 1rem;
     }
   }
   .spanOne {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
   }
   .spanTwo {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 8.333333%;
   }
   .imgOne {
     object-fit: cover;
     border-radius: 1rem;
     border-width: 2px;
     border-color: #6B7280;
     width: 2rem;
     height: 2rem;
     background-color: #6B7280;
     cursor: pointer;
   }
   
   @media (min-width: 1024px) {
     .imgOne {
       width: 2.5rem;
       height: 2.5rem;
     }
   }
   .spanThree {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     width: 75%;
   }
   .headerOne {
     margin-left: 0.5rem;
     margin-right: 0.5rem;
     font-size: 0.75rem;
     line-height: 1rem;
     font-weight: 600;
     color: #9CA3AF;
     cursor: pointer;
   }
   .headerTwo {
     display: flex;
     margin-left: 0.5rem;
     margin-right: 0.5rem;
     justify-content: center;
     align-items: center;
     font-size: 0.75rem;
     line-height: 1rem;
     font-weight: 600;
     color:gray;
     cursor: pointer;
   }
   
   @media (min-width: 1024px) {
     .headerTwo {
       font-size: 0.875rem;
       line-height: 1.25rem;
     }
   }
   .spanFour {
     display: flex;
     margin-left: 0.5rem;
     margin-right: 0.5rem;
     justify-content: center;
     align-items: center;
     font-size: 0.75rem;
     line-height: 1rem;
     color: #6B7280;
   }
   .pOne{
     margin-left: 0.5rem;
margin-right: 0.5rem; 
   }

   .spanFive{
     display: flex; 
justify-content: center; 
align-items: center; 
width: 8.333333%; 

   }

   .BsThree{
     margin-top: 0.5rem;
margin-bottom: 0.5rem; 
color:black; 
--transform-rotate: 90deg; 
cursor: pointer; 



   }
   .spanSix {
     padding-left: 1.25rem;
     padding-right: 1.25rem;
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
     width: 100%;
     font-weight: 300;

     letter-spacing: 0.05em;
     color: black;
   }
   
   @media (min-width: 1024px) {
     .spanSix {
       font-size: 8px;
       line-height: 1rem;
     }
   }
   