.container{
    margin-top: 50px;
    font-weight: 200;
    font-size: 40px;
    
}
#NotificationMessage{
    background-color: gray;
    color: white;
    font-size: larger;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}