

#h1{
    padding: 20px 10px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    margin: 20px auto;
    color: #4bc7e0;
}

#h3{
    padding:30px;
    font-size: 20px;
    color: purple;
}
#glow{
border-radius: 25px;
background:white ;

box-shadow:  0 0 10px #c9d0d1, 0 0 20px #c9d0d1,
    0 0 20px #c9d0d1, 0 0 20px #c9d0d1;
}
#trenidngcards{
    background:#f4f5f5;
}
#trendingcourse{
    box-shadow:  0 0 10px #edeff0, 0 0 10px #edeff0,
    0 0 10px #edeff0, 0 0 10px #edeff0;   
    background-color: white;
    transition: 0.5s;
}
#trendingcourse:hover{
   background-color: rgb(17, 212, 212);
}
#imgtrending{
    border-end-end-radius: 10px;
    border-end-start-radius:10px ;
}
#coursecard{
    box-shadow:  0 0 10px #edeff0, 0 0 10px #edeff0,
    0 0 10px #edeff0, 0 0 10px #edeff0;   
    background-color: white;
    transition: 0.5s;
    
}
#coursecard:hover #buttunsvg{
  color:white

}
#coursecard:hover #buttunsvg:hover #svgbutton{
    fill: purple;
}
#coursecard:hover{
    background-color: rgb(66, 32, 66);
    color: white;
}
#story{
    border-radius: 20px;
    border: #4bc7e0 2px solid;
    padding: 10px;
}
#stry{
    display: flex;
    flex-direction: column;
  
}
#imgs{
    width: 100% !important;
    height: 250px !important;
}

@media screen and (min-width:650px){
    #headingH1{
      font-size: 40px;
    }   
    #stry{
        display: grid;
        grid-template-rows: 40% auto;
        padding: 70px;
    }
    #imgs{
        width: 100% !important;
        height: 250px !important;
    }
}
@media screen and (min-width:1024px){
    #headingH1{
      font-size: 50px;
    }   
    #stry{
        display: grid;
        grid-template-columns: 30% auto;
        padding: 70px;
    }
}