.course-details-btn-container {
  text-align: left;
  display: flex;
  gap: 1.5rem;
}
.course-and-topics-details-container {
  text-align: left;
}
.topic-list-item {
  cursor: pointer;
}

.topic-list-item:hover {
  border-top: 0.2rem solid #663367;
  border-bottom: 0.2rem solid #663367;
}
.course-topics-container {
  padding: 0;
}

.modal-content {
  border-radius: 10px;
  background-color: #f8f9fa; 
}

.modal-header {
  border-bottom: 1px solid #dee2e6;
}

.modal-title {
  color: rgb(56, 191, 195); 
}

.modal-body {
  padding: 20px;
}

.btn-success {
  background-color: #28a745; 
  border: none;
}
