.facilitator-dashboard-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  background-color: white;
}

/* Overview Section */
.overview-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  border: 2px solid #663367;
  border-radius: 8px;
  height: 150px;
  margin-bottom: 20px;
}

/* Wrapper for Progress and Calendar Sections */
.dashboard-content-wrapper {
  display: flex;
  gap: 20px;
  flex: 1;
}

/* Progress Section */
.progress-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  padding-top: 80px;
}

.progress-card {
  background-color: rgb(56, 191, 195);
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.progress-card:hover {
  transform: translateY(-5px);
}

/* Calendar Section */
.calendar-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.calendar-card {
  background-color: #f5f5f5;
  border: 2px solid #663367;
  border-radius: 8px;
  color: #333;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.calendar-card:hover {
  background-color: #ebebeb;
  transform: translateY(-5px);
}

iframe {
  border-radius: 8px;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .dashboard-content-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .progress-section, .calendar-section {
    width: 100%;
  }
}
