/* topics.css */
.course-topics-page {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1rem;
    color: #555;
  }
  
  .topics-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-bar {
    padding: 5px 15px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .filters {
    display: flex;
    gap: 10px;
  }
  
  .filter-btn {
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgb(56, 191, 195);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .filter-btn:hover {
    background-color: #48a5a9;
  }
  
  .topics-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .topic-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .topic-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .topic-header h4 {
    margin-left: 10px;
  }
  
  .status {
    font-weight: bold;
    font-size: 0.95rem;
  }
  
  button {
    padding: 8px 20px;
    background-color: rgb(56, 191, 195);
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #48a5a9;
  }
  