
  .container{
    margin: 0 auto;
    width: 80%;
  }
 

    .content{
      display: flex;
      align-items: center; 
      justify-content: space-between;
      margin: 0.6rem;
    }
    .content__flex{
      display: flex;
     
    }
    .paragraph{
      border: 1px solid rgb(88,197,200) ;
      margin: 1rem;
      padding: .5rem;
    }
    .sideButtons{
      margin: 1rem;
      background-color: black;
      border: 2px sol;
  
    }
    .content__top{
      margin-bottom: 1.5rem;
    }
   
   