@media screen  and (min-width:650px) {
  
   .ViewContainer{
    margin-left: 120px;
   
   }
   
}
@media screen and (min-width:1024px){
 .ViewContainer{
    display: grid;
    grid-template-columns: auto 30%;
    grid-gap:10px
 }  
}