.body{
    width: 50vw;
    margin-top: 20px;
    margin-left: 5rem;
}



.box{
    display: flex;
    justify-content: center;
    align-items: center;
}



.container{
    border: 1px solid #58C5C8;
    height: 50%;
    border-radius: 5px;
}

.editable{
    width: 100%;
    height: 100%;
}

.btn{
    display: flex;
    align-items: flex-start;
    margin-left: 6px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button{
    padding-right: 40px; 
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-right: 8px; 
    border-radius: 10px; 
    border-color: #58C5C8; 
    background-color: #58C5C8; 
    color: black;
    font-weight: bold;
}

.button:hover{
    color: white;
}
.button2:hover{
    color: black;
}

.button2{
    padding-right: 40px; 
    padding-left: 40px; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 8px; 
    border-radius: 10px; 
    border-color: purple; 
    background-color: #693769; 
    color: white;
    font-weight: bold;
}

.element {
    width: 710px;
    height: 500px;
    padding: 10px;
    outline: none;
  }

@media (min-width: 281px)  and (max-width: 768px) {
    .body {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 90vw;
        
    }

    .button{
        padding-right: 10px; 
        padding-left: 10px; 
        margin-right: 4px; 
    }
    .button2{
        padding-right: 10px; 
        padding-left: 10px; 
        margin-right: 4px; 
    }

    .element {
        width: 330px;
        height: 500px;
        padding: 10px;
      }

    
}
@media  (max-width: 280px) {
    .body {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 90vw;
        
    }

    .button{
        padding-right: 13px; 
        padding-left: 13px; 
        margin-right: 4px;
        font-size: 11px; 
        font-weight: bold;
    }
    .button2{
        padding-right: 13px; 
        padding-left: 13px; 
        margin-right: 4px; 
        font-size: 11px; 
        font-weight: bold;
    }

    .element {
        width: 250px;
        height: 500px;
        padding: 10px;
      }

    
}