.body{
    margin:auto;
    box-shadow:  0 0 10px #c9d0d1, 0 0 20px #c9d0d1,
       0 0 20px #c9d0d1, 0 0 20px #c9d0d1;
       padding: 20px;
       margin-top: 20px;
}

.header{
    text-align: start;
    font-size: 20px;
    font-weight: 700;
}

.profile{
    display: flex;
}

.hr{
    background-color: #693769;
    color: #693769;
    height: 3px;
    border: #693769;
}

.img{
    border-radius: 50%;
    width: 55%;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #693769;
    border-radius: 10px; 
    box-shadow:  0 0 10px #c9d0d1, 0 0 10px #c9d0d1,
       0 0 10px #c9d0d1, 0 0 5px #c9d0d1; 
    gap: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.forms{
    display: flex;
    gap: 20px;  
}

.input {
    width: 100%; 
    margin: o.9rem auto; 
    padding: 0.8rem; 
    border:1px solid #693769ff;
    border-radius: .4rem;
    text-align: center;
  }


.input:focus {
    outline: 1px solid #966a96;
  }


.label{
    display: flex;
    flex-direction: column;
}
.lb{
    font-size: 15px;
    font-weight: 800;
}
.google{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.goimg{
    display: flex;
}
.head{
    font-size: 15px;
    padding-bottom: 25px;
}

.img1{
    width: 60px;
}

.text{
    font-size: 20px;
    padding-top: 17px;
}
.end{
    display: flex;
    justify-content: end;
}

.button3{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #693769;
    color: #fff;
    border-radius: 10px; 
    box-shadow:  0 0 10px #c9d0d1, 0 0 10px #c9d0d1,
       0 0 10px #c9d0d1, 0 0 5px #c9d0d1; 
   
}
@media (max-width: 768px) {
    .form{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .forms{
        display: flex;
        gap: 20px;  
    }

    
}
    

