


/* maximum width desktop view */
@media( 1025px <= width <= 1400px ){

 
    #box{
        position: relative;
        z-index: -2;
        background-color: #fff;
        height: 300px;
        text-align: center;
        border-radius: 10px;
       margin-bottom: 10px;
       box-shadow:  0 0 10px #c9d0d1, 0 0 20px #c9d0d1,
       0 0 20px #c9d0d1, 0 0 20px #c9d0d1;
    }
   .image{
    width: 130px;
    border-radius: 50%;
    margin: auto;
    padding: 15px;
   }

   .h5{
    font-size: 18px;
    font-weight: 700;
    padding-top: 15px;
    padding-left: 15px;
    text-align: start;
   }
   .email{
    font-size: 13px;
    text-align: start;
    font-weight: 700;
    padding-left: 15px;
   }
   .dropdown{
   padding: 20px;
   font-size: 25px;
   }

}



/* mini width desktop  */

@media(800px <= width <= 1024px ){

    .button{
        background-color: rgb(78, 188, 188);
        padding: 10px;
        color: white;
        border-radius: 10px;
        font-weight: 400;
        margin-left: 400px;
    }
    .hr{
         
        color: rgb(216, 16, 36);
    }
    #box{
        background-color: rgb(104, 41, 104);
        height: 300px;
        text-align: center;
        border-radius: 10px;
       margin-bottom: 10px;
    }
   .image{
    width: 150px;
    border-radius: 50%;
    margin: auto;
    padding: 15px;
   }

   .h5{
    font-size: 40px;
    padding-top: 15px;
    color: white;
   }
   .email{
    color: white;
    /* font-size: 15px; */
   }
   .dropdown{
    color: white;
   padding: 20px;
   font-size: 25px;
   }


}




@media(600px <= width <= 799px ){

    .button{
        background-color: rgb(78, 188, 188);
        padding: 10px;
        color: white;
        border-radius: 10px;
        font-weight: 400;
        margin-left: 400px;
    }
    .hr{
         
        color: rgb(216, 16, 36);
    }
    #box{
        background-color: rgb(104, 41, 104);
        height: 270px;
        text-align: center;
        border-radius: 10px;
       margin-bottom: 10px;
    }
   .image{
    width: 120px;
    border-radius: 50%;
    margin: auto;
    padding: 15px;
   }

   .h5{
    font-size: 40px;
    padding-top: 15px;
    color: white;
   }
   .email{
    color: white;
    font-size: 15px;
   }
   .dropdown{
    color: white;
   padding: 20px;
   font-size: 25px;
   }
   #main{
    margin: auto;
   }


}




@media(400px <= width <= 599px ){

    .button{
        background-color: rgb(78, 188, 188);
        padding: 10px;
        color: white;
        border-radius: 10px;
        font-weight: 400;
        margin-left: 220px;
    }
    .hr{
         
        color: rgb(216, 16, 36);
    }
    #box{
        background-color: rgb(104, 41, 104);
        height: 270px;
        text-align: center;
        border-radius: 10px;
       margin-bottom: 10px;
       
    }
   .image{
    width: 120px;
    border-radius: 50%;
    margin: auto;
    padding: 15px;
   }

   .h5{
    font-size: 40px;
    padding-top: 15px;
    color: white;
   }
   .email{
    color: white;
    font-size: 15px;
   }
   .dropdown{
    color: white;
   padding: 20px;
   font-size: 25px;
   }
   #main{
    margin: auto;
   }


}





@media(300px <= width <= 399px ){

    .button{
        background-color: rgb(78, 188, 188);
        padding: 10px;
        color: white;
        border-radius: 10px;
        font-weight: 400;
        margin-left: 160px;
    }
    .hr{
         
        color: rgb(216, 16, 36);
    }
    #box{
        background-color: rgb(104, 41, 104);
        height: 270px;
        text-align: center;
        border-radius: 10px;
       margin-bottom: 10px;
       
    }
   .image{
    width: 120px;
    border-radius: 50%;
    margin: auto;
    padding: 15px;
   }

   .h5{
    font-size: 40px;
    padding-top: 15px;
    color: white;
   }
   .email{
    color: white;
    font-size: 15px;
   }
   .dropdown{
    color: white;
   padding: 20px;
   font-size: 25px;
   }
   #main{
    margin: auto;
   }


}


@media(250px <= width <= 299px ){

    .button{
        background-color: rgb(78, 188, 188);
        padding: 10px;
        color: white;
        border-radius: 10px;
        font-weight: 400;
        margin-left: 130px;
        font-size: 10px;
    }
    .hr{
         
        color: rgb(216, 16, 36);
    }
    #box{
        background-color: rgb(104, 41, 104);
        height: 270px;
        text-align: center;
        border-radius: 10px;
       margin-bottom: 10px;
       
    }
   .image{
    width: 120px;
    border-radius: 50%;
    margin: auto;
    padding: 15px;
   }

   .h5{
    font-size: 40px;
    padding-top: 15px;
    color: white;
   }
   .email{
    color: white;
    font-size: 15px;
   }
   .dropdown{
    color: white;
   padding: 20px;
   font-size: 25px;
   }
   #main{
    margin: auto;
   }


}

/* 
@media(max-width:800px){

    .button{
        background-color: rgb(78, 188, 188);
        padding: 10px;
        color: white;
        border-radius: 10px;
        font-weight: 400;
        margin-left: 490px;
    }


} */