


/* maximum width desktop view */
@media(max-width:1400px){

    .button{
        background-color: rgb(78, 188, 188);
        padding: 10px;
        color: white;
        border-radius: 10px;
        font-weight: 400;
        margin: auto;
        margin-left: 600px;
    }
    .hr{
        border-top: 3px solid;
        color: rgb(8, 5, 5);
    }
    #box{
        background-color: rgb(104, 41, 104);
        height: 300px;
        text-align: center;
        border-radius: 10px;
       margin-bottom: 10px;
    }
   .image{
    width: 150px;
    border-radius: 50%;
    margin: auto;
    padding: 15px;
   }

   .h5{
    font-size: 40px;
    padding-top: 15px;
    color: white;
   }
   .email{
    color: white;
    font-size: 20px;
   }
   .dropdown{
    color: white;
   padding: 20px;
   font-size: 25px;
   }

}



/* mini width desktop  */

@media(max-width:1025px){

    .button{
        background-color: rgb(78, 188, 188);
        padding: 10px;
        color: white;
        border-radius: 10px;
        font-weight: 400;
        margin-left: 490px;
    }
    .hr{
         
        color: rgb(216, 16, 36);
    }


}





@media(max-width:800px){

    .button{
        background-color: rgb(78, 188, 188);
        padding: 10px;
        color: white;
        border-radius: 10px;
        font-weight: 400;
        margin-left: 490px;
    }


}